<Message::Avatar @isActive={{@isActive}} 
  @title={{@title}} 
  @initial={{substring @name start=0 end=1}}
  class="{{if @isCurrentUser "current-user"}}" 
/>
  <section>
    <Message::Username @name={{@name}} @localTime={{@localTime}} />
    {{yield}}
  </section>